@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

.container {
    background-color: #FFFFFF;
    min-height: 100vh;
}

.cwlogocontainer {
    padding-top: 0rem;
    padding-left: 2rem;
    cursor: pointer;
}

.cwlogocontainer:hover {
    color: rgb(0, 81, 255);
    text-decoration: underline;
}

.bloghometxt {
    padding-left: 1rem;
}

.title {
    font-weight: 500;
    font-size: 2.25rem;
}

.accenttext {
    color: #2a85c1;
    font-weight: 500;
}

.header {
    max-width: 45%;
    display: block;
    margin: 0 auto;
    border-bottom: .4px solid rgb(85, 85, 85);
}

.coverimage {
    max-width: 100%;
    height: auto;
}

.indicatorhead {
    margin-bottom: -1rem;
}

.writer {
    display: flex; 
    flex-wrap: wrap;
    margin-top: -1.25rem;
}

.writeravater {
    border-radius: 50%;
    transform: scale(.75);
    -ms-transform: scale(.75);
}

.editorsmain {
    display: flex;
    gap: 1rem
}

.editors {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.editorhead, .editorsname{
    transform: translateY(.5rem);
}

.editorhead {
    text-align: center;
}

.editorflex {
    display: flex;
    justify-content: center;
}

.editoravatar {
    border-radius: 50%;
    transform: scale(.65);
    -ms-transform: scale(.65);
}

.publisheddate {
    font-family: "Inter"
}

.quote {
    border-left: 1px white solid;
    margin-left: 1rem;
    padding-left: .5rem;
    font-style: italic;
}

.articlemain {
    max-width: 50%;
    margin: 0 auto;
    initial-letter: 2;
}

.imagediv {
    display: flex;
    justify-content: center;
}

.articleimage {
    width: 76%;
    height: auto;
}

.returnhomebutton {
    margin-top: 1rem;
    margin-left: 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

.returnhomebutton:hover {
    text-decoration: underline;
}

.hypertextp {
    color: rgb(7, 73, 255);
    cursor: pointer;
}

.hypertextp:hover {
    text-decoration: underline;
}

.paragraph {
    line-height: 2rem;
    font-family: "Inter";
    font-weight: 300;
    font-size: 1rem;
}

.articlevideo {
    display: block;
    margin: 0 auto;
    padding-bottom: 2rem;
    max-width: 90%;
    max-height: auto
}


@media (max-width: 500px) {
    .articlemain {
        max-width: 90%;
    }

    .header {
        max-width: 80%;
    }
}