.main {
    display: flex;
}


.headername {
    font-family: "Inter";
    margin-left: 2rem;
    cursor: pointer;
}

.flexlinks {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: auto;
    margin-right: 3rem;
    padding-top: 1rem;
}

.pagelink {
    font-family: "Inter";
    cursor: pointer;
}


.menubtn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 500ms ease;
    
}

.menubtnburger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 500ms ease;
}

.menubtnburger::before,
.menubtnburger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all 500ms ease; 
}

.menubtnburger::before {
    transform: translateY(-16px);
}

.menubtnburger::after {
    transform: translateY(16px);
}

.menubtn[class~='open'] > .menubtnburger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menubtn[class~='open'] > .menubtnburger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menubtn[class~='open'] > .menubtnburger::after {
    transform: rotate(-45deg) translate(35px, 35px)
}

.navpop {
    display: none;
    text-align: center;
    margin-top: 18rem;
    margin-bottom: 18rem;
    
}

.bigpagelink {
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

@media (max-width: 500px) {
    .flexlinks {
        display: none;
    }
    .menubtn {
        display: flex !important;
        margin-left: 2rem;
    }
    .headername {
        margin-top: 1.5rem;
        margin-left: 3rem;
        margin-right: 1rem;
    }
}