

.container {

}

.photocontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    font-family: "Inter";
}

.image {
    max-width: 40%;
    height: auto;
    /*border-radius: 10px;*/
}


@media (max-width: 500px) {
    .image {
        max-width: 90%;
    }
}